name: Python Package using Conda

on:
  push:
    branches:
      - main
jobs:
  test:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        python: ['313','314']
      fail-fast: false

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6.0.1

      - name: Create Testing Environment
        uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2.0.7
        with:
          micromamba-version: '2.0.2-2'
          environment-name: test
          environment-file: .github/workflows/conda-envs/env.yml

      - name: Build cpp modules
        shell: bash -l {0}  # conda stetup requires this special shell
        run: |
          python setup.py build_ext
      - name: Install package
        shell: bash -l {0}  # conda stetup requires this special shell
        run: |
          pip install . --no-deps
      - name: Run tests
        shell: bash -l {0}  # conda setup requires this special shell
        run: |
          pytest
