name: Python Package using Conda

on:
  push:
    branches:
      - main
jobs:
  test:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        python: ['312','313']

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4.2.2

    - name: Create Testing Environment
      uses: mamba-org/setup-micromamba@0dea6379afdaffa5d528b3d1dabc45da37f443fc # v2.0.4
      with:
        micromamba-version: '2.0.2-2'
        environment-name: test
        environment-file: .github/workflows/conda-envs/py${{ matrix.python }}-conda-lock.yml
        channels: conda-forge,defaults
        activate-environment: test
        auto-activate-base: false
        show-channel-urls: true

    - name: Install package
      shell: bash -l {0}  # conda stetup requires this special shell
      run: |
        pip install . --no-deps
    - name: Run tests
      shell: bash -l {0}  # conda setup requires this special shell
      run: |
        pytest
